name: Java CI

on:
  push:
    branches: [ "main", "1.0", "2.0", "2.1", "2.2", "2.3", "2.4", "2.4.1", "2.4.2", "3.0", "3.0.1", "3.1" ]
  pull_request:
    branches: [ "main" ]

env:
  MAVEN_OPTS: -Dhttp.keepAlive=false -Dmaven.wagon.http.pool=false -Dmaven.wagon.http.retryhandler.count=5 -Dmaven.wagon.httpconnectionManager.ttlSeconds=240 -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=warn

permissions:
  contents: read

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        java-version: ['21', '22', '23', '24', '25']
        java-distribution: ['temurin', 'semeru', 'graalvm']
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4.2.0
      with:
        persist-credentials: 'false'
    - name: Set up Java
      uses: actions/setup-java@v4.4.0
      with:
        java-version: ${{ matrix.java-version }}
        distribution: ${{ matrix.java-distribution }}
        cache: 'maven'
    - name: Build with Maven
      run: ./mvnw -Dmaven.javadoc.skip=true verify -B
  site:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.2.0
      - name: Set up Java
        uses: actions/setup-java@v4.4.0
        with:
          java-version: '21'
          distribution: 'zulu'
          cache: 'maven'
      - name: Build with Maven
        run: ./mvnw verify package site -B
  build-benchmarks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.2.0
      - name: Set up Java
        uses: actions/setup-java@v4.4.0
        with:
          java-version: '25'
          distribution: 'zulu'
          cache: 'maven'
      - name: Build with Maven
        run: ./mvnw -Dmaven.javadoc.skip=true -DskipTests package -f modular-pom.xml
