name: Release
on:
  workflow_dispatch:

env:
  MAVEN_OPTS: -Dhttp.keepAlive=false -Dmaven.wagon.http.pool=false -Dmaven.wagon.http.retryhandler.count=5 -Dmaven.wagon.httpconnectionManager.ttlSeconds=240 -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=warn

jobs:
  Release:
    runs-on: ubuntu-latest
    steps:
      - name: Check out project
        uses: actions/checkout@v4.2.0

      # Configure Java
      - uses: actions/setup-java@v4.4.0
        with:
          distribution: 'zulu'
          java-version: '21'
          server-id: 'central'
          server-username: SONATYPE_USERNAME
          server-password: SONATYPE_TOKEN
          gpg-private-key: ${{ secrets.GPG_PRIVATE_KEY }}
          gpg-passphrase: MAVEN_GPG_PASSPHRASE

      - name: Configure Git
        run: |
          git config user.name "Release action on behalf of ${{ github.actor }}"
          git config user.email "${{ github.actor }}@users.noreply.github.com"

      - name: Verifying build
        run: ./mvnw clean deploy -P release -B -DskipTests
        env:
          SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
          SONATYPE_TOKEN: ${{ secrets.SONATYPE_TOKEN }}
          MAVEN_GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}

      - name: Push pom updates and tags
        run: |
          git push --tags
